#logo-splash.splash
  .container.centered
      img(ng-src='images/main/logo-cover.png')

#index.container
  #what-we-believe.centered
    h1 Artisans worth their salt
    p
      | We appreciate and distinguish between the distinctive qualities of gourmet salts and the way these salts enhance flavors and finish of foods. Experience the multitude of textures, colors and flavors of authentic artisan salts from around the world.
  
  .divider

  #our-qualities.row
    .col-sm-4.centered
      img(ng-src='images/main/salt_icon.png')
      h2 GOURMET SEA SALT
      p
        | Gourmet cooking salts in every texture, flavor, color, and origin.
    .col-sm-4.centered
      img(ng-src='images/main/organic_icon.png')
      h2 NATURAL & ORGANIC
      p
        | Straight form the source, both local and exotic.
    .col-sm-4.centered
      img(ng-src='images/main/whale_icon.png')
      h2 OLD SALT FLAVOR
      p
        | Bring out the best in your food with the perfect final ingredient.

#coming-soon.splash.centered
  h3 COMING SOON
  p
    | Check back for updates and product news as we prepare to set sail.

div(ng-include='\'partials/users/login.html\'')